#the_best_movie

{ 
    
    background: url('images/fish_top_rated.jpg');
    position: relative;
    width: 39%;
    height: 460px; 
    
 }

.video_player 

{
	height: 25px;
	position: relative;
	right: -50px;
	bottom: -320px;
	background: url('images/lightgrey.jpeg') repeat-x;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 1.2em;
	text-align: center;
	padding: 10px 15px 10px 15px;
	color: black;
	text-decoration: none; 
}

#player_logo 

{
	vertical-align: middle;
} 

#movie_abstract 

{ 
    position: relative;
    right: -50px;
	bottom: -320px;
	color: black;
 } 

 #top_rated_movie

 {
 	width: 1500px;
 	border: 1px solid black;
 	overflow: auto;
 	display: flex;
 } 

 #category_1 

 {
 	width: 1500px;
 	border: 1px solid black;
 	overflow: auto;
 	display: flex;
 }

 #category_2

 {
 	width: 1500px;
 	border: 1px solid black;
 	overflow: auto;
 	display: flex;
 }

 #category_3

 {
 	width: 1500px;
 	border: 1px solid black;
 	overflow: auto;
 	display: flex;
 }

