.the_best_movie {
  background: url("images/fish_top_rated.jpg");
  position: relative;
  width: 39%;
  height: 460px;
  box-shadow: 6px 6px 6px #414141 inset;
}
.the_best_movie .video_player {
  height: 25px;
  position: relative;
  right: -50px;
  bottom: -320px;
  background: url("images/lightgrey.jpeg") repeat-x;
  border: 1px solid #414141;
  border-radius: 5px;
  font-size: 20px;
  font-family: "abel_regular", Arial, serif;
  text-align: center;
  padding: 10px 15px 10px 15px;
  color: #414141;
  box-shadow: 6px 6px 6px #414141;
  text-decoration: none;
}
.the_best_movie .video_player #player_logo {
  vertical-align: middle;
}
.the_best_movie #the_best_movie_info {
  height: 50px;
  position: relative;
  right: -80px;
  bottom: -320px;
  background: url("images/darkgrey.jpeg") repeat-x;
  border: 1px solid #414141;
  border-radius: 5px;
  font-size: 20px;
  font-family: "abel_regular", Arial, serif;
  text-align: center;
  padding: 10px 15px 10px 15px;
  color: rgb(200,200,200);
  box-shadow: 6px 6px 6px #414141;
  text-decoration: none;
}
.the_best_movie .movie_abstract {
  position: relative;
  right: -50px;
  bottom: -320px;
  color: #414141;
  font-size: 20px;
  font-family: "abel_regular", Arial, serif;
}

.top_rated_movie {
  width: 1500px;
  border: 1px solid #414141;
  overflow: auto;
  display: flex;
  box-shadow: 6px 6px 6px #414141 inset;
}

.category {
  width: 1500px;
  border: 1px solid #414141;
  overflow: auto;
  display: flex;
  box-shadow: 6px 6px 6px #414141 inset;
} 

.modal_info {
    border: 1px solid #414141;
    box-shadow: 6px 6px 6px #414141 inset;
    background-image: url("images/darkgrey.jpeg");
}

.abel-regular {
  font-family: "abel_regular", Arial, serif;
}

header {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "abel_regular";
  src: url("abel/abel-regular.ttf");
}
h1 {
  font-size: 30px;
  color: #c8c8c8;
}

h2 {
  font-size: 25px;
  color: #aaaaaa;
}

body {
  background-image: url("images/cinema.jpeg");
}

/* The Modal background */

#modal_window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
}